#footer
{   background-color:#fcfbf8;
	width :96.7%;
	height: 100px;
	padding-right: 22px;
    clear:both;
    line-height: 24px;
    font-family: PingFangSC-Regular, 微软雅黑, Verdana, Arial, 宋体;
    margin: 0px 0px 0px 20px;
}

div#footer #p1 {
    font-size: 12px;
    color: #777777;
    text-align: center;
    background: transparent url(/ui2017/alert.png) no-repeat;
    background-position: 235px 2px;
}

div#footer #p2 {
    margin: 30px 0 30px 0;
    font-size: 14px;
    text-align: center;
    color: #777777;
}

div#footer a:link, div#footer a:visited {
    text-decoration: none;
    color: #777777;
    background: transparent;
}

